
.footer {
  color: #eaeaea;
  text-align: center;
  padding: 1rem;
  margin-top: -90px;
  font-size: 0.95rem;
  letter-spacing: 0.3px;
  width:100%;
}

.footer p {
  margin: 0;
  opacity: 0.9;
}

.footer p:hover {
  color: #00f5d4;
  transition: color 0.3s ease;
}
