body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9fafb;
  color: #333;
}

main {
  max-width: 1440px;
  margin: auto;
  padding: 1rem;
}

button {
  cursor: pointer;
  border: none;
  background: #2563eb;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover {
  background: #1e40af;
}

